<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>year</th>
      <th>period</th>
      <th>periodName</th>
      <th>Unemployment Rate</th>
      <th>Unemployed</th>
      <th>Employed</th>
      <th>Labor Force</th>
      <th>Year-Month</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2006</td>
      <td>M01</td>
      <td>January</td>
      <td>4.3</td>
      <td>1191</td>
      <td>26361</td>
      <td>27552</td>
      <td>2006-January</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2006</td>
      <td>M02</td>
      <td>February</td>
      <td>4.6</td>
      <td>1262</td>
      <td>26417</td>
      <td>27679</td>
      <td>2006-February</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2006</td>
      <td>M03</td>
      <td>March</td>
      <td>4.3</td>
      <td>1190</td>
      <td>26531</td>
      <td>27721</td>
      <td>2006-March</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2006</td>
      <td>M04</td>
      <td>April</td>
      <td>3.6</td>
      <td>1010</td>
      <td>26749</td>
      <td>27759</td>
      <td>2006-April</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2006</td>
      <td>M05</td>
      <td>May</td>
      <td>3.7</td>
      <td>1037</td>
      <td>27101</td>
      <td>28138</td>
      <td>2006-May</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2006</td>
      <td>M06</td>
      <td>June</td>
      <td>3.7</td>
      <td>1051</td>
      <td>27322</td>
      <td>28373</td>
      <td>2006-June</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2006</td>
      <td>M07</td>
      <td>July</td>
      <td>3.7</td>
      <td>1045</td>
      <td>27354</td>
      <td>28399</td>
      <td>2006-July</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2006</td>
      <td>M08</td>
      <td>August</td>
      <td>3.6</td>
      <td>1004</td>
      <td>27212</td>
      <td>28216</td>
      <td>2006-August</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2006</td>
      <td>M09</td>
      <td>September</td>
      <td>3.5</td>
      <td>977</td>
      <td>26983</td>
      <td>27960</td>
      <td>2006-September</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2006</td>
      <td>M10</td>
      <td>October</td>
      <td>3.1</td>
      <td>883</td>
      <td>27308</td>
      <td>28191</td>
      <td>2006-October</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2006</td>
      <td>M11</td>
      <td>November</td>
      <td>3.3</td>
      <td>948</td>
      <td>27351</td>
      <td>28299</td>
      <td>2006-November</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2006</td>
      <td>M12</td>
      <td>December</td>
      <td>3.5</td>
      <td>983</td>
      <td>27239</td>
      <td>28222</td>
      <td>2006-December</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2007</td>
      <td>M01</td>
      <td>January</td>
      <td>4.3</td>
      <td>1189</td>
      <td>26660</td>
      <td>27849</td>
      <td>2007-January</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2007</td>
      <td>M02</td>
      <td>February</td>
      <td>4.2</td>
      <td>1174</td>
      <td>26532</td>
      <td>27706</td>
      <td>2007-February</td>
    </tr>
    <tr>
      <th>14</th>
      <td>2007</td>
      <td>M03</td>
      <td>March</td>
      <td>3.7</td>
      <td>1038</td>
      <td>26765</td>
      <td>27803</td>
      <td>2007-March</td>
    </tr>
    <tr>
      <th>15</th>
      <td>2007</td>
      <td>M04</td>
      <td>April</td>
      <td>3.4</td>
      <td>942</td>
      <td>26828</td>
      <td>27770</td>
      <td>2007-April</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2007</td>
      <td>M05</td>
      <td>May</td>
      <td>3.1</td>
      <td>870</td>
      <td>27052</td>
      <td>27922</td>
      <td>2007-May</td>
    </tr>
    <tr>
      <th>17</th>
      <td>2007</td>
      <td>M06</td>
      <td>June</td>
      <td>3.3</td>
      <td>920</td>
      <td>27268</td>
      <td>28188</td>
      <td>2007-June</td>
    </tr>
    <tr>
      <th>18</th>
      <td>2007</td>
      <td>M07</td>
      <td>July</td>
      <td>3.1</td>
      <td>863</td>
      <td>27261</td>
      <td>28124</td>
      <td>2007-July</td>
    </tr>
    <tr>
      <th>19</th>
      <td>2007</td>
      <td>M08</td>
      <td>August</td>
      <td>3.2</td>
      <td>899</td>
      <td>27045</td>
      <td>27944</td>
      <td>2007-August</td>
    </tr>
    <tr>
      <th>20</th>
      <td>2007</td>
      <td>M09</td>
      <td>September</td>
      <td>3.1</td>
      <td>854</td>
      <td>27014</td>
      <td>27868</td>
      <td>2007-September</td>
    </tr>
    <tr>
      <th>21</th>
      <td>2007</td>
      <td>M10</td>
      <td>October</td>
      <td>3.0</td>
      <td>845</td>
      <td>27159</td>
      <td>28004</td>
      <td>2007-October</td>
    </tr>
    <tr>
      <th>22</th>
      <td>2007</td>
      <td>M11</td>
      <td>November</td>
      <td>3.4</td>
      <td>946</td>
      <td>27269</td>
      <td>28215</td>
      <td>2007-November</td>
    </tr>
    <tr>
      <th>23</th>
      <td>2007</td>
      <td>M12</td>
      <td>December</td>
      <td>3.7</td>
      <td>1040</td>
      <td>27090</td>
      <td>28130</td>
      <td>2007-December</td>
    </tr>
    <tr>
      <th>24</th>
      <td>2008</td>
      <td>M01</td>
      <td>January</td>
      <td>4.3</td>
      <td>1205</td>
      <td>26877</td>
      <td>28082</td>
      <td>2008-January</td>
    </tr>
    <tr>
      <th>25</th>
      <td>2008</td>
      <td>M02</td>
      <td>February</td>
      <td>4.3</td>
      <td>1209</td>
      <td>26844</td>
      <td>28053</td>
      <td>2008-February</td>
    </tr>
    <tr>
      <th>26</th>
      <td>2008</td>
      <td>M03</td>
      <td>March</td>
      <td>4.3</td>
      <td>1207</td>
      <td>27009</td>
      <td>28216</td>
      <td>2008-March</td>
    </tr>
    <tr>
      <th>27</th>
      <td>2008</td>
      <td>M04</td>
      <td>April</td>
      <td>3.4</td>
      <td>954</td>
      <td>27242</td>
      <td>28196</td>
      <td>2008-April</td>
    </tr>
    <tr>
      <th>28</th>
      <td>2008</td>
      <td>M05</td>
      <td>May</td>
      <td>3.8</td>
      <td>1070</td>
      <td>27454</td>
      <td>28524</td>
      <td>2008-May</td>
    </tr>
    <tr>
      <th>29</th>
      <td>2008</td>
      <td>M06</td>
      <td>June</td>
      <td>4.1</td>
      <td>1184</td>
      <td>27580</td>
      <td>28764</td>
      <td>2008-June</td>
    </tr>
    <tr>
      <th>30</th>
      <td>2008</td>
      <td>M07</td>
      <td>July</td>
      <td>4.1</td>
      <td>1198</td>
      <td>27769</td>
      <td>28967</td>
      <td>2008-July</td>
    </tr>
    <tr>
      <th>31</th>
      <td>2008</td>
      <td>M08</td>
      <td>August</td>
      <td>4.4</td>
      <td>1258</td>
      <td>27488</td>
      <td>28746</td>
      <td>2008-August</td>
    </tr>
    <tr>
      <th>32</th>
      <td>2008</td>
      <td>M09</td>
      <td>September</td>
      <td>4.0</td>
      <td>1143</td>
      <td>27207</td>
      <td>28350</td>
      <td>2008-September</td>
    </tr>
    <tr>
      <th>33</th>
      <td>2008</td>
      <td>M10</td>
      <td>October</td>
      <td>4.4</td>
      <td>1253</td>
      <td>27285</td>
      <td>28538</td>
      <td>2008-October</td>
    </tr>
    <tr>
      <th>34</th>
      <td>2008</td>
      <td>M11</td>
      <td>November</td>
      <td>5.0</td>
      <td>1422</td>
      <td>26996</td>
      <td>28418</td>
      <td>2008-November</td>
    </tr>
    <tr>
      <th>35</th>
      <td>2008</td>
      <td>M12</td>
      <td>December</td>
      <td>5.9</td>
      <td>1683</td>
      <td>26614</td>
      <td>28297</td>
      <td>2008-December</td>
    </tr>
  </tbody>
</table>