<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Hamilton County</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/reset.css">
  <link rel="stylesheet" href="static/css/style.css">

</head>

<body>
  <!-- Navigation Section -->
  <div class="navigation">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" style="background-color: #0BADA6;" href="index.html">Project-2 - Visualizing Coranavirus on the Economy</a>
      <button class="navbar-toggler  border border-white" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              County
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="">Allen</a>
              <a class="dropdown-item" href="">Boone</a>
              <a class="dropdown-item" href="">Decatur</a>
              <a class="dropdown-item" href="Hamilton.html">Hamilton</a>
              <a class="dropdown-item" href="">Hendricks</a>
              <a class="dropdown-item" href="">Johnson</a>
              <a class="dropdown-item" href="">Lake</a>
              <a class="dropdown-item" href="">Marion</a>
              <a class="dropdown-item" href="">Monroe</a>
              <a class="dropdown-item" href="">St.Joseph</a>
              <a class="dropdown-item" href="">Vanderburgh</a>
              <a class="dropdown-item" href="">Warrick</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Hamilton County</h1>
        <p>Use the interactive charts below to explore the dataset</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="oldbar">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="newbar">
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="footer">Copyright &copy; project-2 OG</div>
  </footer>

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript" src="static/js/Hamilton.js"></script>

</body>

</html>