<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>year</th>
      <th>period</th>
      <th>periodName</th>
      <th>Unemployment Rate</th>
      <th>Unemployed</th>
      <th>Employed</th>
      <th>Labor Force</th>
      <th>Year-Month</th>
      <th>County</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2006</td>
      <td>M01</td>
      <td>January</td>
      <td>5.9</td>
      <td>13224</td>
      <td>210763</td>
      <td>223987</td>
      <td>2006-January</td>
      <td>Lake</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2006</td>
      <td>M02</td>
      <td>February</td>
      <td>6.4</td>
      <td>14394</td>
      <td>211264</td>
      <td>225658</td>
      <td>2006-February</td>
      <td>Lake</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2006</td>
      <td>M03</td>
      <td>March</td>
      <td>6.7</td>
      <td>15264</td>
      <td>211726</td>
      <td>226990</td>
      <td>2006-March</td>
      <td>Lake</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2006</td>
      <td>M04</td>
      <td>April</td>
      <td>5.8</td>
      <td>12991</td>
      <td>212547</td>
      <td>225538</td>
      <td>2006-April</td>
      <td>Lake</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2006</td>
      <td>M05</td>
      <td>May</td>
      <td>6.2</td>
      <td>14106</td>
      <td>214249</td>
      <td>228355</td>
      <td>2006-May</td>
      <td>Lake</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2006</td>
      <td>M06</td>
      <td>June</td>
      <td>6.4</td>
      <td>14825</td>
      <td>216600</td>
      <td>231425</td>
      <td>2006-June</td>
      <td>Lake</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2006</td>
      <td>M07</td>
      <td>July</td>
      <td>6.1</td>
      <td>13851</td>
      <td>214819</td>
      <td>228670</td>
      <td>2006-July</td>
      <td>Lake</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2006</td>
      <td>M08</td>
      <td>August</td>
      <td>6.5</td>
      <td>14906</td>
      <td>212683</td>
      <td>227589</td>
      <td>2006-August</td>
      <td>Lake</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2006</td>
      <td>M09</td>
      <td>September</td>
      <td>5.1</td>
      <td>11608</td>
      <td>214233</td>
      <td>225841</td>
      <td>2006-September</td>
      <td>Lake</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2006</td>
      <td>M10</td>
      <td>October</td>
      <td>4.7</td>
      <td>10725</td>
      <td>217057</td>
      <td>227782</td>
      <td>2006-October</td>
      <td>Lake</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2006</td>
      <td>M11</td>
      <td>November</td>
      <td>5.1</td>
      <td>11517</td>
      <td>216351</td>
      <td>227868</td>
      <td>2006-November</td>
      <td>Lake</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2006</td>
      <td>M12</td>
      <td>December</td>
      <td>5.1</td>
      <td>11744</td>
      <td>216393</td>
      <td>228137</td>
      <td>2006-December</td>
      <td>Lake</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2007</td>
      <td>M01</td>
      <td>January</td>
      <td>6.4</td>
      <td>14487</td>
      <td>212034</td>
      <td>226521</td>
      <td>2007-January</td>
      <td>Lake</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2007</td>
      <td>M02</td>
      <td>February</td>
      <td>6.1</td>
      <td>13789</td>
      <td>211946</td>
      <td>225735</td>
      <td>2007-February</td>
      <td>Lake</td>
    </tr>
    <tr>
      <th>14</th>
      <td>2007</td>
      <td>M03</td>
      <td>March</td>
      <td>5.7</td>
      <td>12757</td>
      <td>212903</td>
      <td>225660</td>
      <td>2007-March</td>
      <td>Lake</td>
    </tr>
    <tr>
      <th>15</th>
      <td>2007</td>
      <td>M04</td>
      <td>April</td>
      <td>4.9</td>
      <td>11084</td>
      <td>213853</td>
      <td>224937</td>
      <td>2007-April</td>
      <td>Lake</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2007</td>
      <td>M05</td>
      <td>May</td>
      <td>4.7</td>
      <td>10558</td>
      <td>214845</td>
      <td>225403</td>
      <td>2007-May</td>
      <td>Lake</td>
    </tr>
    <tr>
      <th>17</th>
      <td>2007</td>
      <td>M06</td>
      <td>June</td>
      <td>5.0</td>
      <td>11366</td>
      <td>217425</td>
      <td>228791</td>
      <td>2007-June</td>
      <td>Lake</td>
    </tr>
    <tr>
      <th>18</th>
      <td>2007</td>
      <td>M07</td>
      <td>July</td>
      <td>5.0</td>
      <td>11448</td>
      <td>215806</td>
      <td>227254</td>
      <td>2007-July</td>
      <td>Lake</td>
    </tr>
    <tr>
      <th>19</th>
      <td>2007</td>
      <td>M08</td>
      <td>August</td>
      <td>5.0</td>
      <td>11323</td>
      <td>213741</td>
      <td>225064</td>
      <td>2007-August</td>
      <td>Lake</td>
    </tr>
    <tr>
      <th>20</th>
      <td>2007</td>
      <td>M09</td>
      <td>September</td>
      <td>4.6</td>
      <td>10355</td>
      <td>213681</td>
      <td>224036</td>
      <td>2007-September</td>
      <td>Lake</td>
    </tr>
    <tr>
      <th>21</th>
      <td>2007</td>
      <td>M10</td>
      <td>October</td>
      <td>4.5</td>
      <td>10065</td>
      <td>215529</td>
      <td>225594</td>
      <td>2007-October</td>
      <td>Lake</td>
    </tr>
    <tr>
      <th>22</th>
      <td>2007</td>
      <td>M11</td>
      <td>November</td>
      <td>5.1</td>
      <td>11620</td>
      <td>216496</td>
      <td>228116</td>
      <td>2007-November</td>
      <td>Lake</td>
    </tr>
    <tr>
      <th>23</th>
      <td>2007</td>
      <td>M12</td>
      <td>December</td>
      <td>5.1</td>
      <td>11448</td>
      <td>214733</td>
      <td>226181</td>
      <td>2007-December</td>
      <td>Lake</td>
    </tr>
    <tr>
      <th>24</th>
      <td>2008</td>
      <td>M01</td>
      <td>January</td>
      <td>5.7</td>
      <td>12752</td>
      <td>211790</td>
      <td>224542</td>
      <td>2008-January</td>
      <td>Lake</td>
    </tr>
    <tr>
      <th>25</th>
      <td>2008</td>
      <td>M02</td>
      <td>February</td>
      <td>6.1</td>
      <td>13735</td>
      <td>210469</td>
      <td>224204</td>
      <td>2008-February</td>
      <td>Lake</td>
    </tr>
    <tr>
      <th>26</th>
      <td>2008</td>
      <td>M03</td>
      <td>March</td>
      <td>5.8</td>
      <td>12965</td>
      <td>212465</td>
      <td>225430</td>
      <td>2008-March</td>
      <td>Lake</td>
    </tr>
    <tr>
      <th>27</th>
      <td>2008</td>
      <td>M04</td>
      <td>April</td>
      <td>4.9</td>
      <td>11088</td>
      <td>215351</td>
      <td>226439</td>
      <td>2008-April</td>
      <td>Lake</td>
    </tr>
    <tr>
      <th>28</th>
      <td>2008</td>
      <td>M05</td>
      <td>May</td>
      <td>5.5</td>
      <td>12521</td>
      <td>215918</td>
      <td>228439</td>
      <td>2008-May</td>
      <td>Lake</td>
    </tr>
    <tr>
      <th>29</th>
      <td>2008</td>
      <td>M06</td>
      <td>June</td>
      <td>6.0</td>
      <td>13852</td>
      <td>218368</td>
      <td>232220</td>
      <td>2008-June</td>
      <td>Lake</td>
    </tr>
    <tr>
      <th>30</th>
      <td>2008</td>
      <td>M07</td>
      <td>July</td>
      <td>6.1</td>
      <td>14205</td>
      <td>217474</td>
      <td>231679</td>
      <td>2008-July</td>
      <td>Lake</td>
    </tr>
    <tr>
      <th>31</th>
      <td>2008</td>
      <td>M08</td>
      <td>August</td>
      <td>6.5</td>
      <td>14849</td>
      <td>215197</td>
      <td>230046</td>
      <td>2008-August</td>
      <td>Lake</td>
    </tr>
    <tr>
      <th>32</th>
      <td>2008</td>
      <td>M09</td>
      <td>September</td>
      <td>5.9</td>
      <td>13433</td>
      <td>214837</td>
      <td>228270</td>
      <td>2008-September</td>
      <td>Lake</td>
    </tr>
    <tr>
      <th>33</th>
      <td>2008</td>
      <td>M10</td>
      <td>October</td>
      <td>6.2</td>
      <td>14354</td>
      <td>215961</td>
      <td>230315</td>
      <td>2008-October</td>
      <td>Lake</td>
    </tr>
    <tr>
      <th>34</th>
      <td>2008</td>
      <td>M11</td>
      <td>November</td>
      <td>7.2</td>
      <td>16536</td>
      <td>212634</td>
      <td>229170</td>
      <td>2008-November</td>
      <td>Lake</td>
    </tr>
    <tr>
      <th>35</th>
      <td>2008</td>
      <td>M12</td>
      <td>December</td>
      <td>8.6</td>
      <td>19709</td>
      <td>209963</td>
      <td>229672</td>
      <td>2008-December</td>
      <td>Lake</td>
    </tr>
  </tbody>
</table>